# editor/OS cache files
.idea/
.DS_Store
.vscode/
**/.DS_Store

# jupyter notebooks
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
coverage.xml

# Misc
results/
image_files*

# datasets
cifar*

# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.direnv

# Data files
**.zip
**-ubyte
**.gz
**.tar
**.7Z
**.BZ2
**.rar