.idea/
.DS_Store
__pycache__/
.vscode/

# jupyter notebooks
.ipynb_checkpoints/

# packaging
dist/
*.egg-info/
build/

# Coverage
.coverage
coverage.xml

# Misc
results/
image_files*
data/
frames

# datasets
cifar*
