sphinx==7.1.2
sphinx-tabs==3.4.5
nbsphinx==0.9.3
autodocsumm==0.2.12
sphinx-multiversion==0.2.4
sphinx-copybutton==0.5.2
sphinxcontrib-katex==0.9.9
sphinx-autodoc-typehints==1.25.2
furo==2023.09.10
ipykernel==6.29.0
ipywidgets==8.1.1
ipython==8.0.1